<header></header>
<h2 class='text-center'> Studio Ratings </h2>
<div class="row" ng-controller="RatingsController as ratingsCtrl">

  <button class="btn btn-default center-block" ng-click="reviewFormCtrl.showForm = !reviewFormCtrl.showForm">{{reviewFormCtrl.showForm ? "Cancel" : "Rate a Studio"}}</button>
  <hr />
  <review-form reviews='ratingsCtrl.reviews' activities='ratingsCtrl.activities' ng-show="reviewFormCtrl.showForm"></review-form>
  <hr />

  <ul class="list-unstyled col-sm-8">
    
    <strong>Search by Studio &nbsp&nbsp</strong><input type='text' data-ng-model='studio'/>
    <br><hr />

    <li class="book row" ng-repeat="review in ratingsCtrl.reviews | filter:studio | orderBy:'studio'">

      <div class="col-sm-9">
        <h3>{{review.studio}}</h3>

        <cite class="text-muted">Written by {{review.author}}</cite>

        <p>{{review.review_text}}</p>

        <activities></activities>

      </div>
    </li>
  </ul>
</div>