<form name="reviewForm" class="form-horizontal" ng-submit="reviewFormCtrl.addReview(reviewForm)">

  <section class="row well live-preview" ng-show='true'>
    

    <div class="col-sm-9">
      <h3>
        {{reviewFormCtrl.review.studio || "Studio Name"}}
        &nbsp<span class='cp_blue'>{{reviewFormCtrl.review.rating || '0'}} Stars</span>
      </h3>
      <cite class="text-muted">Written by {{reviewFormCtrl.review.author}}</cite>

      <p>{{reviewFormCtrl.review.review_text || "No feedback yet."}}</p>

      <ul class="list-unstyled">
        <li ng-repeat="(activity, state) in reviewFormCtrl.review.activities">
          <span class="label label-primary" ng-show="state">{{activity}}</span>
        </li>
      </ul>
    </div>
  </section>

  <div class="input-container">
    <fieldset class="form-group">
    <label for="studio" class="col-sm-2 control-label">Studio:</label>
    <span class="col-sm-9">
      <input type="text" class="form-control" id="studio" ng-model="reviewFormCtrl.review.studio"
      placeholder="Studio Name">
    </span>
    </fieldset>

    <fieldset class="form-group">
    <label class="control-label col-sm-2" for="author">Your Name</label>
    <span class="col-sm-9">
      <input type="text" id="author" class="form-control" ng-model="reviewFormCtrl.review.author"
      placeholder="Your Name"></span>
    </fieldset>

    <fieldset class="form-group">
      <label class="control-label col-sm-2" for="review">Review</label>
      <span class="col-sm-9">
        <textarea id="review" class="form-control" cols="30" rows="3" ng-model="reviewFormCtrl.review.review_text"
        placeholder="Please Share Your Feedback"></textarea>
      </span>
    </fieldset>

    <fieldset class="form-group">
      <label for="rating" class="control-label col-sm-2">Rating:</label>
      <span class="col-sm-9">
        <select class="form-control" id="rating" value="5" ng-model="reviewFormCtrl.review.rating">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </span>
    </fieldset>

    <fieldset class="form-group">
      <label class="control-label col-sm-2" >Activity Type:</label>
      <div class="genre">
        <label ng-repeat="activity in activities" for="{{activity}}" class="genre-label form-control">
          <input type="checkbox" name="activity" id="{{activity}}" ng-model="reviewFormCtrl.review.activities[activity]" />
          {{activity}}
        </label>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <span class="col-sm-9 col-sm-offset-2 button-from-hell">
        <button class="btn btn-primary">Save Review</button>
      </span>
    </fieldset>
  </div>

</form>